@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @*<div class="col-md-3" , id="XurProfile">
            <img src="https://www.bungie.net//img/destiny_content/vendor/2e59242d28b34a6c8afd148e9f0be471.png" />
        </div>
        <div class="col-md-6" , id="XurLocation">
            <img src="http://www.destinylfg.com/assets/findxur/xur-location-hangar-south.png.pagespeed.ce.NWV7sJv3ZZ.png" />
        </div>*@

    <div ng-controller="MainController" style="margin-top: 50px;">
        <div class="col-md-12">
            <div class="progress" ng-show="currentProgress < 100">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{currentProgress}}"
                     aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    {{currentProgress}}%
                </div>
            </div>
        </div>
        <div>
            @*<button popover="I appeared on mouse enter!" popover-trigger="mouseenter" class="btn btn-default">Mouseenter</button>*@

            <div ng-repeat="items in exoticGear">
                <button popover-template="exoticTemplate.html" popover-title="{{items.name}}" popover="{{items.description}}"popover-trigger="mouseenter" class="btn btn-default"><img ng-src="https://www.bungie.net{{items.icon}}"></button>

                <script type="text/ng-template" ng-model="exoticTemplate.html">
                    <div>
                        <label>hi</label>
                        <p>i'm kyle</p>
                    </div>
                </script>
            </div>

            

            @*<table class="table table-striped">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>PrimaryStat</th>
                        <th>PrimaryValue</th>
                        <th>Currency</th>
                        <th>Cost</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="items in exoticGear">
                        <td><img ng-src="https://www.bungie.net{{items.icon}}"></td>
                        <td>{{items.name}}</td>
                        <td>{{items.type}}</td>
                        <td>{{items.description}}</td>
                        <td>{{items.primaryStatType}}</td>
                        <td>{{items.privaryStatValue}}</td>
                        <td>{{items.costCurrency}}</td>
                        <td>{{items.costValue}}</td>
                    </tr>
                </tbody>
            </table>*@


            <!--list perks for each item (images not avaliable at bungie)-->
            @*<div ng-repeat="items in exoticGear">
                <img ng-src="https://www.bungie.net{{items.icon}}">
                <p ng-repeat="perk in items.itemPerks">{{perk}}</p>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>PerkImg</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="perk in items.itemPerks">
                            <td><img ng-src="https://www.bungie.net{{perk.iconPath}}"></td>
                            <td>{{perk.perkHash}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>*@

            @*<table class="table table-striped">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Currency</th>
                        <th>Cost</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="items in curios">
                        <td><img ng-src="https://www.bungie.net{{items.icon}}"></td>
                        <td>{{items.name}}</td>
                        <td>{{items.type}}</td>
                        <td>{{items.description}}</td>
                        <td>{{items.costCurrency}}</td>
                        <td>{{items.costValue}}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Currency</th>
                        <th>Cost</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="items in materialExchange">
                        <td><img ng-src="https://www.bungie.net{{items.icon}}"></td>
                        <td>{{items.name}}</td>
                        <td>{{items.type}}</td>
                        <td>{{items.description}}</td>
                        <td>{{items.costCurrency}}</td>
                        <td>{{items.costValue}}</td>
                    </tr>
                </tbody>
            </table>*@
        </div>
    </div>

    

</div>