@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @*<div class="col-md-3" , id="XurProfile">
        <img src="https://www.bungie.net//img/destiny_content/vendor/2e59242d28b34a6c8afd148e9f0be471.png" />
    </div>
    <div class="col-md-6" , id="XurLocation">
        <img src="http://www.destinylfg.com/assets/findxur/xur-location-hangar-south.png.pagespeed.ce.NWV7sJv3ZZ.png" />
    </div>*@

    <div ng-controller="MainController" style="margin-top: 50px;">
        <div class="col-md-12">
            <div class="progress" ng-show="currentProgress < 100">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{currentProgress}}"
                     aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    {{currentProgress}}%
                </div>
            </div>
        </div>
        <div>
            @*<h1>{{message}}</h1>*@
            @*<pre>{{vendor | json}}</pre>*@
            @*<pre>{{xurItems[0].request.Response.data | json}}</pre>*@
            @*<h2>{{xurItems}}</h2>*@


            

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>PrimaryStat</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="items in exoticGear">
                        <td><img ng-src="https://www.bungie.net{{items.icon}}"></td>
                        <td>{{items.name}}</td>
                        <td>{{items.type}}</td>
                        <td>{{items.description}}</td>
                        <td>
                            {{items.primaryStatType}} <br />
                            {{items.privaryStatValue}}
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>PrimaryStat</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="items in curios">
                        <td><img ng-src="https://www.bungie.net{{items.icon}}"></td>
                        <td>{{items.name}}</td>
                        <td>{{items.type}}</td>
                        <td>{{items.description}}</td>
                        <td>
                            {{items.primaryStatType}} <br />
                            {{items.privaryStatValue}}
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>PrimaryStat</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="items in materialExchange">
                        <td><img ng-src="https://www.bungie.net{{items.icon}}"></td>
                        <td>{{items.name}}</td>
                        <td>{{items.type}}</td>
                        <td>{{items.description}}</td>
                        <td>
                            {{items.primaryStatType}} <br />
                            {{items.privaryStatValue}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>